/* Estilos generales del body */
body {
    background-color: #333; /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-family: Arial, sans-serif;
}

/* Estilos del header */
header {
    background-color: #337ab7; /* Azul claro */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

/* Estilos del main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background-color: #444; /* Fondo gris oscuro */
    padding: 20px;
    margin: 20px;
    width: 30%;
}

h2 {
    color: #337ab7; /* Azul claro */
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* Estilos del footer */
footer {
    background-color: #337ab7; /* Azul claro */
    padding: 10px;
    text-align: center;
    color: #fff;
}

/* Estilos para el botón del carrito */
.cart-button-container {
    float: right; /* Posiciona el contenedor a la derecha */
    margin-right: 20px; /* Ajusta el margen derecho */
    text-align: center; /* Centra la imagen horizontalmente */
}

.cart-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.button {
    width: 30px; /* Ajusta el ancho de la imagen */
    height: 30px; /* Ajusta el alto de la imagen */
    cursor: pointer;
    margin: -15px; /* Ajusta el margen */
}

/* Estilos para el formulario de solicitud de productos */
#request-form {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Ocultar el formulario por defecto */
    max-width: 600px;
    margin: 20px auto;
}

#request-form h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Agrupación de los elementos del formulario */
.form-group {
    margin-bottom: 15px;
}

#request-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Color del texto de las etiquetas */
}

/* Estilos para los campos de entrada */
#request-form input[type="text"],
#request-form input[type="number"],
#request-form input[type="date"],
#request-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo del campo */
    box-sizing: border-box;
    font-size: 16px; /* Tamaño del texto en los campos */
    color: #333; /* Color del texto en los campos */
}

/* Estilos para los campos de entrada en enfoque */
#request-form input[type="text"]:focus,
#request-form input[type="number"]:focus,
#request-form input[type="date"]:focus,
#request-form select:focus {
    border-color: #337ab7; /* Color del borde en enfoque */
    outline: none;
    box-shadow: 0 0 4px rgba(51, 122, 183, 0.3); /* Sombra en enfoque */
}

/* Estilos para el botón de envío */
#request-form button[type="submit"] {
    background-color: #337ab7; /* Azul claro */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#request-form button[type="submit"]:hover {
    background-color: #23527c; /* Azul oscuro */
}

#request-form button[type="submit"]:active {
    background-color: #003d7a; /* Azul más oscuro */
}
