<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hoja de vida diseño.css">
    <link rel="icon" href="images/iconoPagina.ico">
    <link rel="stylesheet" href="Scrips.js">
    <title>Tecno ODA</title>
</head>
<body>
    <header id="arriba" class="parallax">
        <div id="header-img">
            <img src="foto_1.jpg">
        </div>
            <div class="exp-text">
            <div>
                <h1>Tecno ODA</h1>
                <h3>2024</h3>
            </div>
        </div>  
    </header>




    <nav id="menu">
        <ul>
            <li><a href="#menu">&#9776;</a></li>
            <li><a href="#">x</a></li>
            <li><a href="#informacion">Acerca de nosotros</a></li>
            <li><a href="#productos">Productos</a></li>
        </ul>
    </nav>




   
    </div>




    <aside id="educacion">
        <h4>Productos</h4>
        <br>
        <hr>
        <ul>
            <li>
                <article>
                    <div class="edu-img">
                        <img src="sena logo.png">
                    </div>
                    <div class="edu-text">
                        <p class="periodo">1</p>
                        <p class="titulo">2</p>
                        <p class="descripcion">3</p>
                    </div>
                </article>
            </li>  




            <li>
                <article>
                    <div class="edu-img">
                        <img src="ESCUDO.GA.jpg">
                    </div>
                    <div class="edu-text">
                        <p class="periodo">1</p>
                        <p class="titulo">2</p>
                        <p class="descripcion">3</p>
                    </div>
                </article>
            </li>




            <li>
                <article>
                    <div class="edu-img">
                        <img src="ESCUDO.GA.jpg">
                    </div>
                    <div class="edu-text">
                        <p class="periodo">1</p>
                        <p class="titulo">2</p>
                        <p class="descripcion">3<br>
                       </p>
                    </div>
                </article>
            </li>




            <li>
                <article>
                    <div class="edu-img">
                        <img src="ESCUDO.GA.jpg">
                    </div>
                    <div class="edu-text">
                        <p class="periodo">1</p>
                        <p class="titulo">2</p>
                        <p class="descripcion">3<br>
                            </p>
                    </div>
                </article>
            </li>




            <li>
                <article>
                    <div class="edu-img">
                        <img src="ESCUDO.GA.jpg">
                    </div>
                    <div class="edu-text">
                        <p class="periodo">1</p>
                        <p class="titulo">2</p>
                        <p class="descripcion">3<br>
                          </p>                      
                    </div>
                </article>              
            </li>
        </ul>
    </aside>
    
        



     </section>
      
      
                </article>              
            </li>                                  
        </ul>
    </div>
    <footer>
        <div id="informacion">
                <h4>Información</h4>
                <br>
                <hr>
                <br>
                <ul>
                    <li> Celular: 1234567890</li>
                    <li><a href="tecnooda@gmail.com" style="color: #0800ff;">tecnooda@gmail.com</a></li>
                    <li>Desarroladores: Mauro Moreno, Santiago Otalora, Anderson Mora, Diego Moreno, Cristian Pamplona</li>
                </ul>
            <p>Tecno ODA. ®<br><a href="#arriba">Volver arriba</a></p>
                   </div>
    </footer>
   
</body>
</html>
